body {
  background-color: rgb(236, 194, 142);
}

.container {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(0, -50%);
  display: flex;
  border: 1px solid rgb(225, 137, 29);
  background-color: rgb(175, 127, 69);
  border-radius: 10px;
  width: 500px;
  height: 400px;
  justify-content: center;
  margin: auto;
  align-items: center;
  color: white;
}
#btnCalc {
  background-color: rgb(225, 137, 29);
  color: white;
  border: 0px;
}
form {
  text-align: center;
  line-height: 33px;
}

#displayResults {
  position: absolute;
  bottom: 20px;
  left: 500px;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
