body {
  background-color: rgb(236, 194, 142);
}

.container {
  /* position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(0, -50%); */
  border: 1px solid rgb(225, 137, 29);
  background-color: rgb(175, 127, 69);
  border-radius: 20px;
  width: 300px;
  height: 400px;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: white;
}

.nameEmail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 0 auto 0 auto;
  color: white;
}
#btnComment {
  margin: 0 auto 0 auto;
  width: 150px;
  background-color: rgb(225, 137, 29);
  color: white;
  border: 0px;
  padding: 5px;
}
.newComment {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 400px;
  margin: 15px auto 0 auto;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
.nameDisplay {
  word-wrap: break-word;
}

.deleteBtn {
  width: 100px;
}

.hidden {
  display: none;
}
