form {
  background-color: aliceblue;
  max-width: 320px;
  margin: auto;
  position: relative;
  padding: 2rem 2rem 5rem 2rem;
  border-radius: 3px;
  justify-content: center;
  box-shadow: black;
}

.buttons {
  float: right;
}

.text {
  position: relative;
  bottom: 0;
  left: 0;
}
